/files/
/files
node_modules/
.DS_Store
._.DS_Store
dist/
/src/frontend/public/styles.css
/src/frontend/app/test-results
/src/frontend/app/playwright-report
config.yaml
/.container/config.yaml
/.container/files/
/.container/files
public/
*.pyc
*.log
