@import url("./fonts/fonts.css");

body {
    background-color: #000000;
    color: white;
    font-family: serif;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.app {
    background-color: #000000;
    width: 40%;
    margin: auto;
}

.a-element-button {
    background-color: #000000;
    color: #ffffff;
}
.a-element-button:hover {
    background-color: #3cff2d;
    color: black;
}

fieldset {
    text-align: center;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    background-color: #000000;
    border: 2px solid #ffffff;
    margin: auto;
}

fieldset:hover {
    text-align: center;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    color: #3cff2d;
    background-color: #000000;
    border: 2px solid #3cff2d;
    margin: auto;
}

legend {
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-size: 18px;
    display: block;
    text-align: center;
    font-weight: 900;
    background-color: #444;  /* Dark gray background */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #3cff2d;
}

p {
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    text-align: center;
}

a {
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    text-align: center;
    font-style: bold;
}

#progressContainer {
    display: none;
    margin-top: 10px;
}
#progressBar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
}
#progressWrapper {
    width: 100%;
    background-color: #ddd;
    height: 20px;
}

blockquote {
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
    background-color: #1a1a1a;
    border-left: 4px solid #ffcc00;
    color: #f0f0f0; /* Light text for readability */
    font-style: italic;
    margin: 1em 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: center;
}