body {
    font-family: Arial, sans-serif; padding: 20px;
}
a {
    text-decoration: none; display: block; margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.folder {
    font-weight: bold;
}

.icons {
    width: 35px;
    height: 35px;
}
